body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
       background-image: url('https://www.fondazioneveronesi.it/uploads/thumbs/2018/10/04/attivita-sportiva_thumb_720_480.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}



header {
    background: rgba(0, 0, 0, 0.7);
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    margin: 20px;
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    color: #000;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 10px;
    text-align: left;
}
